#map_panel {
    width: 50%;
    float: left;
    padding-left: 10%;
    padding-top: 3%;
}

#map_view {
    height: 800px;
}

#cli_panel {
    width: 40%;
    height: 800px;
    float: right;
    position: relative;
}

#p1_cli_panel {
    height: 800px;
    position: relative;
    color: white;
}

#p1_cli_input {
    width: 100%;
}

#p1_cli_output {
    position: relative;
    height: 80%;
    overflow: auto;
}

td{
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

td:hover{
  border: 1px solid grey;

}

body{
  background-color: #002226
}

h1{
  color: white;
  text-align: center;
}
