body{
	margin: 0;
}

.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2196F3;
	width: 100%;
	position: fixed;
	top: 0;
	box-shadow: 0px 0px 8px #001a4d;
}

.navbar li{
	float: left;
	display: block;
	padding: 9px;
	background: #1E88E5;
	font-size: 24px;
	font-family: roboto;
	color: #ffffff;
}

.navbar li:hover{
	background-color: #0D47A1;
}

#current{
	background-color: #1565C0;
}

.backimg{
	width: 100%;
	height: 500px;
	background-image: url("shell.jpeg");
	background-size: 100% 100%;
}

.card{
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
	width: 75%;
	height: auto;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	background-color: #e6e6e6;
	box-shadow: 0px 3px 9px;
	font: ubuntu;
}

.opener{
	background-color: #ffffff;
	/*margin-top: 80px;*/
	text-align: center;
	width: 100%;
}

.card div{
	/*border-bottom: solid black 1px;*/
	display: inline-block;
	box-shadow: 0px 2px 9px;
}
.abilities{
	background-color: #ffffff;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: center;
}
.abilities ul{
	list-style-type: none;
	text-align: center;
}



body{
	background-color: #E8EAF6;
}